gencode.v50.primary_assembly.annotation.gtf.gz filter=lfs diff=lfs merge=lfs -text
gencode.v50.long_noncoding_RNAs.gtf.gz filter=lfs diff=lfs merge=lfs -text
gencode.v50.tRNAs.gtf.gz filter=lfs diff=lfs merge=lfs -text
